@model IEnumerable<SoftwareSearch.Domain.Software.Models.SoftwareInfo>
@{
    ViewData["Title"] = "Emergent Software Search";
}

<div class="text-center">
    <div class="sa-content">

        <h2>Emergent Software Search</h2>

        <form method="get" asp-controller="Home" asp-action="Index" autocomplete="off">

            <div class="form-group">
                <p class="help">
                    Search the Emergent software repository using <a href="semver.org">semver</a> format, in the format of <i>[major].[minor].[patch]</i>. Note that the minor and patch portions are optional.
                </p>
                <input type="text" class="form-control" id="inputSearchText" name="SearchText"
                       placeholder="Search by semver version"
                       pattern="^(\d|[1-9]\d*)(\.(\d|[1-9]\d*))?(\.(\d|[1-9]\d*))?$"
                       oninvalid="this.setCustomValidity('Invalid semver format. ([major].[minor].[patch])')"
                       oninput="this.setCustomValidity('')"
                       value="@Context.Request.Query["SearchText"]" maxlength="200">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </form>

        @if (Model.Any())
        {
        <table id="tableResults" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var software in Model)
                {
                    <tr>
                        <td>@software.Name</td>
                        <td>@software.Version</td>
                    </tr>
                }

            </tbody>
        </table>
        }
    </div>
</div>
