:root {
    /*colors*/
    --header-height: 4rem;
    --primary-color: #058ED9; /*blue*/
    --secondary-color: #343434; /*dark-gray*/
    --tertiary-color: #ced4da; /*light-gray*/
    --quaternary-color: #ffffff; /*white*/
    --quinary-color: #dee2e6; /*lighter-gray*/
    /*content*/
    --content-background-color: var(--quaternary-color);
    --content-max-width: 1000px;
}

html, body {
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: var(--secondary-color);
    font-family: "Segoe UI";
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.btn {
    margin-top: 10px;
}

a {
    color: var(--primary-color);
}

.help {
    color: var(--secondary-color);
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sa-content {
    padding: 20px;
    color: var(--secondary-color);
    background-color: var(--content-background-color);
    text-align: center;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
