:root {
    /*colors*/
    --header-height: 4rem;
    --primary-color: #058ED9; /*blue*/
    --secondary-color: #343434; /*dark-gray*/
    --tertiary-color: #ced4da; /*light-gray*/
    --quaternary-color: #ffffff; /*white*/
    --quinary-color: #dee2e6; /*lighter-gray*/
    /*content*/
    --content-background-color: var(--quaternary-color);
    --content-max-width: 1000px;
    --content-table-hover-background-color: var(--primary-color);
    --content-table-hover-text-color: var(--quaternary-color);
    --content-table-link-text-color: var(--primary-color);
    --content-table-link-hover-text-color: var(--quaternary-color);
}

html, body {
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI";
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.btn {
    margin-top: 10px;
}

.sa-content {
    padding: 20px;
    background-color: var(--content-background-color);
    text-align: center;
}

.table {
    border-right: 1px solid var(--tertiary-color);
    border-left: 1px solid var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
